<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap-italia.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/italia-icon-font.css') }}" /><!-- opzionale -->
    {% block stylesheets %}{% endblock %}

    <title>Fattura PA - Test UI {% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    {% block body %}{% endblock %}
    <!-- JS -->
    <script src="{{ asset('js/bootstrap-italia.bundle.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-italia.min.js') }}"></script>
    <script src="{{ asset('js/holder.js') }}"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>
